<app-header />
<div class="container mt-5 mb-5">
  <div class="layout-page-product-detail mb-5">
    <div class="layout-left">
      <div class="layout-box layout-padding bg-white mb-4">
        <div class="product-detail d-flex">
          <div class="thumbnail me-5">
            <img
              src="assets/products/kem-duong-am-cerave.jpg"
              class="img-fluid rounded-start"
              alt="Sản phẩm"
            />
          </div>
          <form action="">
            <div class="detail-information">
              <a href="#" class="detail-brand fw-bold d-flex mb-1">CERAVE</a>
              <h1 class="detail-title fw-bold mb-1">
                Kem Dưỡng Ẩm Cerave Moisturising Cream Dành Cho Da Khô 454g
              </h1>
              <div class="detail-sku mb-2">
                <div class="product-code">Mã sản phẩm: 3337875597388</div>
              </div>
              <div class="detail-price mb-4">
                <div class="public-price">
                  <span class="fw-bold">500.000đ</span>
                </div>
              </div>
              <div class="detail-relate mb-4">
                <a
                  href="#"
                  class="position-relative p-0 image-frame2"
                  data-bs-toggle="tooltip"
                  data-bs-placement="top"
                >
                  <picture>
                    <img
                      src="assets/products/kem-duong-am-cerave.jpg"
                      alt="Kem dưỡng ẩm Cerave"
                      class="img-fluid"
                    />
                  </picture>
                </a>
                <a
                  href="#"
                  class="position-relative p-0 image-frame2"
                  data-bs-toggle="tooltip"
                  data-bs-placement="top"
                >
                  <picture>
                    <img
                      src="assets/products/kem-duong-am-cerave.jpg"
                      alt="Kem dưỡng ẩm Cerave"
                      class="img-fluid"
                    />
                  </picture>
                </a>
                <a
                  href="#"
                  class="position-relative p-0 image-frame2"
                  data-bs-toggle="tooltip"
                  data-bs-placement="top"
                >
                  <picture>
                    <img
                      src="assets/products/kem-duong-am-cerave.jpg"
                      alt="Kem dưỡng ẩm Cerave"
                      class="img-fluid"
                    />
                  </picture>
                </a>
              </div>
              <div class="detail-quantity mb-4">
                <label for="quantity">Số lượng:</label>
                <input
                  type="number"
                  id="quantity"
                  name="quantity"
                  class="form-control"
                  value="1"
                  min="1"
                />
              </div>
              <div class="d-flex detail-button">
                <button class="btn btn-dark me-2">
                  <i class="fa-solid fa-cart-plus"></i> Giỏ hàng
                </button>
                <button class="btn btn-danger">
                  <i class="fa-solid fa-cart-shopping"></i> Mua ngay
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="layout-box layout-padding bg-white">
        <h2 class="layout-title mb-2 fw-bold">Thông tin sản phẩm</h2>
        <div class="product-attribute">
          <div class="attribute-item">
            <div class="attribute-title">Thương hiệu</div>
            <div class="attribute-value">CREAVE</div>
          </div>
          <div class="attribute-item">
            <div class="attribute-title">Đặc tính</div>
            <div class="attribute-value">Ngày Và Đêm</div>
          </div>
          <div class="attribute-item">
            <div class="attribute-title">Vấn đề về da</div>
            <div class="attribute-value">Da thiếu nước, thiếu ẩm</div>
          </div>
          <div class="attribute-item">
            <div class="attribute-title">Xuất xứ thương hiệu</div>
            <div class="attribute-value">Mỹ</div>
          </div>
        </div>
      </div>
    </div>

    <div class="layout-right">
      <div class="list-coupon">
        <h2 class="list-coupon">Mã khuyến mại</h2>
        <div class="slide-main-coupon">
          <div class="slide-template-slide-coupon owl-carousel">
            <div class="item-coupon mb-3">
              <div
                class="d-flex align-items-center justify-content-between m-2"
              >
                <div class="box-coupon box-coupon-right w-100">
                  <p class="sub-title-coupon">Giảm 50.000đ</p>
                  <div class="voucher-detail pb-2">
                    [WEBSITE] Voucher cho hoá đơn từ 599k
                  </div>
                  <div class="progress">
                    <div
                      class="progress-bar bg-danger"
                      role="progressbar"
                      style="width: 0.2%"
                      aria-valuenow="0.2"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    ></div>
                  </div>
                  <div
                    class="d-flex justify-content-between align-items-center mt-2"
                  >
                    <button
                      type="button"
                      class="btn btn-call-modal p-0 btn-value"
                    >
                      Chi tiết
                    </button>
                    <button type="button" class="btn btn-dark btn-copy">
                      Sao chép
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="item-coupon mb-3">
              <div
                class="d-flex align-items-center justify-content-between m-2"
              >
                <div class="box-coupon box-coupon-right w-100">
                  <p class="sub-title-coupon">Giảm 50.000đ</p>
                  <div class="voucher-detail pb-2">
                    [WEBSITE] Voucher cho hoá đơn từ 599k
                  </div>
                  <div class="progress">
                    <div
                      class="progress-bar bg-danger"
                      role="progressbar"
                      style="width: 0.2%"
                      aria-valuenow="0.2"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    ></div>
                  </div>
                  <div
                    class="d-flex justify-content-between align-items-center mt-2"
                  >
                    <button
                      type="button"
                      class="btn btn-call-modal p-0 btn-value"
                    >
                      Chi tiết
                    </button>
                    <button type="button" class="btn btn-dark btn-copy">
                      Sao chép
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="item-coupon mb-3">
              <div
                class="d-flex align-items-center justify-content-between m-2"
              >
                <div class="box-coupon box-coupon-right w-100">
                  <p class="sub-title-coupon">Giảm 50.000đ</p>
                  <div class="voucher-detail pb-2">
                    [WEBSITE] Voucher cho hoá đơn từ 599k
                  </div>
                  <div class="progress">
                    <div
                      class="progress-bar bg-danger"
                      role="progressbar"
                      style="width: 0.2%"
                      aria-valuenow="0.2"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    ></div>
                  </div>
                  <div
                    class="d-flex justify-content-between align-items-center mt-2"
                  >
                    <button
                      type="button"
                      class="btn btn-call-modal p-0 btn-value"
                    >
                      Chi tiết
                    </button>
                    <button type="button" class="btn btn-dark btn-copy">
                      Sao chép
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="item-coupon mb-3">
              <div
                class="d-flex align-items-center justify-content-between m-2"
              >
                <div class="box-coupon box-coupon-right w-100">
                  <p class="sub-title-coupon">Giảm 50.000đ</p>
                  <div class="voucher-detail pb-2">
                    [WEBSITE] Voucher cho hoá đơn từ 599k
                  </div>
                  <div class="progress">
                    <div
                      class="progress-bar bg-danger"
                      role="progressbar"
                      style="width: 0.2%"
                      aria-valuenow="0.2"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    ></div>
                  </div>
                  <div
                    class="d-flex justify-content-between align-items-center mt-2"
                  >
                    <button
                      type="button"
                      class="btn btn-call-modal p-0 btn-value"
                    >
                      Chi tiết
                    </button>
                    <button type="button" class="btn btn-dark btn-copy">
                      Sao chép
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer />
