<div class="container">
 <h3 mat-dialog-title>{{dialogTitle}}</h3>

<form  [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-dialog-content>
    <div class="form-container">
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Tên danh mục</mat-label>
        <input matInput formControlName="name" required>
        @if (form.get('name')?.hasError('required')) {
           <mat-error >
          Tên danh mục là bắt buộc
        </mat-error>
        }
       
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Danh mục cha</mat-label>
        <mat-select formControlName="parentCategory">
          <mat-option>Không có</mat-option>
          @for (category of categories; track $index) {
             <mat-option  [value]="category.id">
            {{category.name}}
          </mat-option>
          }
         
        </mat-select>
      </mat-form-field>

      <mat-slide-toggle formControlName="activate" class="full-width">
        Kích hoạt
      </mat-slide-toggle>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button type="button" (click)="onCancel()">Hủy</button>
    <button mat-raised-button color="accent" type="submit" [disabled]="!form.valid">
      {{data.category ? 'Cập nhật' : 'Thêm mới'}}
    </button>
  </mat-dialog-actions>
</form> 
</div>
