<div class="header">
  <!-- Top bar -->
  <div class="topbar clearfix">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 d-none d-sm-block welcome">
          Chào mừng bạn đến với Radiant Shop!
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 topbar-login">
          <ul class="account">
            <!-- Hiển thị khi chưa đăng nhập -->
            <ng-container *ngIf="!isLoggedIn">
              <li>
                <a routerLink="/login" title="login">
                  <i class="bi bi-person-plus"></i>Đăng nhập
                </a>
              </li>
              <li>
                <a routerLink="/register" title="sign-up">
                  <i class="bi bi-box-arrow-in-right"></i>Đăng ký
                </a>
              </li>
            </ng-container>

            <!-- Hiển thị khi đã đăng nhập -->
            <ng-container *ngIf="isLoggedIn">
              <li class="user-info">
                <a class="d-flex align-items-center">
                  <img
                    [src]="userAvatar"
                    class="user-avatar"
                    alt="User avatar"
                    onerror="this.src='assets/default-avatar.png'"
                  />
                  <span class="user-name">{{ userFullName }}</span>
                  <i class="bi bi-chevron-down"></i>
                </a>
                <div class="user-dropdown">
                  <a routerLink="/my-account">
                    <i class="bi bi-person"></i>
                    Tài khoản của tôi
                  </a>
                  <a routerLink="/my-orders">
                    <i class="bi bi-bag"></i>
                    Đơn hàng
                  </a>
                  <a routerLink="/wishlist">
                    <i class="bi bi-heart"></i>
                    Sản phẩm yêu thích
                  </a>
                  <a (click)="logout()" class="logout">
                    <i class="bi bi-box-arrow-right"></i>
                    Đăng xuất
                  </a>
                </div>
              </li>
            </ng-container>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- Middle header -->
  <div class="container">
    <div class="row">
      <div class="sticky-placeholder"></div>
      <div class="middle-header clearfix">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 logo">
          <a routerLink="/" title="Radiant Shop">
            <img src="assets/logos/logo.png" alt="Radiant Shop" />
          </a>
        </div>

        <div class="col-lg-5 col-md-5 d-none d-md-block search-box">
          <div class="header_search">
            <form class="d-flex search-form" (ngSubmit)="submitFormpProduct()" >
              <input
                class="form-control me-2"
                type="text"
                [(ngModel)]="name"
                name="name"
                placeholder="Tìm kiếm sản phẩm theo tên"
                aria-label="Search"
              />
              <button class="btn search-icon" type="submit">
                <i class="bi bi-search"></i>
              </button>
            </form>
          </div>
        </div>

        <div class="mini-cart">
          <div class="cart-wrapper" (click)="toggleCartDropdown($event)">
            <i class="bi bi-cart"></i>
            <span class="cart">Giỏ hàng</span>
            <span class="cart-count" *ngIf="cartItemCount > 0">{{cartItemCount}}</span>
          </div>
          
          <div class="cart-dropdown" [class.show]="isCartDropdownVisible" (click)="onCartDropdownClick($event)">
            <div class="cart-content">
              <div *ngIf="cartItems && cartItems.length > 0; else emptyCart">
                <div class="cart-items">
                  <div *ngFor="let item of cartItems" class="cart-item">
                    <div class="item-image">
                      <img [src]="item.thumbnail || ''"
                           [alt]="item.name"
                           (error)="onImageError($event)">
                    </div>
                    <div class="item-info">
                      <div class="item-name">{{item.name}}</div>
                      <div class="item-variant" *ngIf="item.productDetail.color">
                        {{item.productDetail.color}}
                      </div>
                      <div class="item-price">{{formatPrice(getDiscountedPrice(item.productDetail))}}</div>
                      <div class="item-quantity">x{{item.quantity}}</div>
                    </div>
                    <button class="remove-item" (click)="removeFromCart(item.productDetail.id)">
                      <i class="bi bi-x"></i>
                    </button>
                  </div>
                </div>
                
                <div class="cart-footer">
                  <div class="cart-total">
                    <span>Tổng tiền:</span>
                    <span>{{formatPrice(getTotalAmount())}}</span>
                  </div>
                  <div class="cart-actions">
                    <button class="btn-view-cart" routerLink="/checkout">Xem giỏ hàng</button>
                    <button class="btn-checkout" routerLink="/payment">Thanh toán</button>
                  </div>
                </div>
              </div>
              
              <ng-template #emptyCart>
                <div class="empty-cart">
                  <i class="bi bi-cart-x"></i>
                  <p>Giỏ hàng của bạn đang trống</p>
                </div>
              </ng-template>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-3" style="width: 286px">
          <div class="header-hotline f-right clearfix">
            <i class="bi bi-telephone"></i>
            <div class="hotline">
              <p>Đặt hàng nhanh!</p>
              <a href="#" title="Số hotline">0862092083</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Nav -->
  <div class="bottom-header">
    <div class="container">
      <div class="main-nav">
        <ul>
          <!-- Danh mục sản phẩm -->
          <app-nested-category [categories]="categories"></app-nested-category>

          <!-- Các mục khác -->
          
          <li class="nav-item">
            <a routerLink="/brand">THƯƠNG HIỆU</a>
          </li>
          <li class="nav-item">
            <a routerLink="/product-list">DANH SÁCH SẢN PHẨM</a>
          </li>
          <li class="nav-item">
              <a routerLink="/checkout">GIỎ HÀNG</a>
          </li>

            <li class="nav-item dropdown order">
              <a href="#" class="dropdown-toggle">TRA CỨU ĐƠN HÀNG</a>
              <div class="dropdown-menu order-lookup">
                <form (ngSubmit)="submitForm()">
                  <input
                    type="text"
                    placeholder="Nhập email của bạn"
                    class="form-control"
                    [(ngModel)]="email"
                    name="email"
                    required
                  />
                  <button class="btn btn-danger mt-2 fw-bold" type="submit">
                    Kiểm tra đơn hàng
                  </button>
                </form>
              </div>
            </li>
        </ul>
      </div>
    </div>
  </div>
  
</div>
