<div class="header">
  <!-- Top bar -->
  <div class="topbar clearfix">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 d-none d-sm-block welcome">
          Chào mừng bạn đến với Radiant Shop!
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 topbar-login">
          <ul class="account">
            <li>
              <a href="#" title="login">
                <i class="bi bi-person-plus"></i>Đăng nhập
              </a>
            </li>
            <li>
              <a href="#" title="sign-up">
                <i class="bi bi-box-arrow-in-right"></i>Đăng ký
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- Middle header -->
  <div class="container">
    <div class="row">
      <div class="middle-header clearfix">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 logo">
          <a href="/" title="logo">
            <img src="assets/logo/logo.png" alt="Radiant Shop" />
          </a>
        </div>

        <div class="col-lg-5 col-md-5 d-none d-md-block search-box">
          <div class="header_search">
            <form class="d-flex search-form" role="search">
              <input
                class="form-control me-2"
                type="search"
                placeholder="Tìm kiếm..."
                aria-label="Search"
              />
              <button class="btn search-icon" type="submit">
                <i class="bi bi-search"></i>
              </button>
            </form>
          </div>
        </div>

        <div class="col-lg-3 col-md-3 d-none d-md-block">
          <div class="header-hotline f-right clearfix">
            <i class="bi bi-telephone"></i>
            <div class="hotline">
              <p>Đặt hàng nhanh!</p>
              <a href="#" title="Số hotline">0123456789</a>
            </div>
          </div>
        </div>

        <div class="mini-cart">
          <a href="#">
            <i class="bi bi-cart"></i>
          </a>
        </div>
      </div>
    </div>
  </div>

  <!-- Nav -->
  <div class="bottom-header">
    <div class="container">
      <div class="main-nav">
        <ul>
          <li class="nav-item">
            <a href="#">
              <i class="bi bi-list"></i>
              <span class="menu">Tất cả danh mục</span>
            </a>
          </li>
          <li class="nav-item right-nav">
            <a href="#">
              <span class="label">Trang chủ</span>
            </a>
          </li>
          <li class="nav-item right-nav">
            <a href="#">
              <span class="label">Giới thiệu</span>
            </a>
          </li>
          <li class="nav-item right-nav">
            <a href="#">
              <span class="label">Sản phẩm</span>
            </a>
          </li>
          <li class="nav-item right-nav">
            <a href="#">
              <span class="label">Tin tức</span>
            </a>
          </li>
          <li class="nav-item right-nav">
            <a href="#">
              <span class="label">Liên hệ</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
