<ul
  class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
  id="accordionSidebar"
>
  <!-- Sidebar - Brand -->
  <a
    class="sidebar-brand d-flex align-items-center justify-content-center"
    routerLink="/admin"
  >
    <div class="sidebar-brand-icon">
      <i class="fas fa-store"></i>
    </div>
    <div class="sidebar-brand-text mx-3">SHOP ADMIN</div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0" />

  <!-- Nav Item - Dashboard -->
  <li class="nav-item active">
    <a class="nav-link" routerLink="/admin">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Trang chủ</span></a
    >
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider" />
  <!-- Nav Item - Charts -->
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/pos']">
      <i class="fas fa-fw fa-chart-area"></i>
      <span>Bán hàng tại quầy</span></a
    >
  </li>

  <!-- Heading -->
  <div class="sidebar-heading">Interface</div>
<!-- User -->
<li class="nav-item">
  <a class="nav-link collapsed"
    href="#"
    data-toggle="collapse"
    data-target="#collapseUser"
    aria-expanded="true"
    aria-controls="collapseUser"
  >
    <i class="fa fa-user"></i>
    <span>Quản lí nhân viên và Khách hàng</span>
  </a>
  <div
    id="collapseUser"
    class="collapse"
    aria-labelledby="headingUser"
    data-parent="#accordionSidebar"
  >
    <div class="bg-white py-2 collapse-inner rounded">
      <a class="collapse-item" [routerLink]="['/user']">Quản lí người dùng</a>
    </div>
  </div>
</li>

  <!-- product -->
  <li class="nav-item">
    <a class="nav-link collapsed"
      href="#"
      data-toggle="collapse"
      data-target="#collapseProduct"
      aria-expanded="true"
      aria-controls="collapseProduct"
    >
      <i class="fa fa-archive"></i>
      <span>Sản phẩm</span>
    </a>
    <div
      id="collapseProduct"
      class="collapse"
      aria-labelledby="headingProduct"
      data-parent="#accordionSidebar"
    >
      <div class="bg-gradient-light py-2 collapse-inner rounded">

        <a class="collapse-item" [routerLink]="['products']">
          <i class="fa fa-boxes me-2"></i>Quản lí sản phẩm
        </a>
        <a class="collapse-item" [routerLink]="['category']">
          <i class="fa fa-bars me-2"></i>Quản lí danh mục
        </a>
        <a class="collapse-item" [routerLink]="['brands']">
          <i class="fa fa-tags me-2"></i>Quản lí thương hiệu
        </a>
        <a class="collapse-item" [routerLink]="['colors']">
          <i class="fa fa-circle-notch me-2"></i>Quản lí màu sắc
        </a>

      </div>
    </div>
  </li>

<!-- voucher -->
<li class="nav-item">
  <a class="nav-link collapsed"
    href="#"
    data-toggle="collapse"
    data-target="#collapseVoucher"
    aria-expanded="true"
    aria-controls="collapseVoucher"
  >
    <i class="fa fa-ticket-alt"></i>
    <span>Mã giảm giá</span>
  </a>
  <div
    id="collapseVoucher"
    class="collapse"
    aria-labelledby="headingVoucher"
    data-parent="#accordionSidebar"
  >
    <div class="bg-white py-2 collapse-inner rounded">
      <a class="collapse-item text-capitalize text-dark "  [routerLink]="['vouchers']">Quản lí mã giảm giá</a>
    </div>
  </div>
</li>


<!-- order -->
<li class="nav-item">
  <a class="nav-link collapsed"
    href="#"
    data-toggle="collapse"
    data-target="#collapseOrder"
    aria-expanded="true"
    aria-controls="collapseOrder"
  >
    <i class="fa fa-money-bill"></i>
    <span>Đơn hàng</span>
  </a>
  <div
    id="collapseOrder"
    class="collapse"
    aria-labelledby="headingOrder"
    data-parent="#accordionSidebar"
  >
    <div class="bg-gradient-light py-2 collapse-inner rounded">
      <a class="collapse-item text-capitalize text-dark" [routerLink]="['orders']">Quản lí đơn hàng</a>
    </div>
  </div>
</li>


<!-- product review -->
<li class="nav-item">
  <a class="nav-link collapsed" [routerLink]="['product-review']">
    <i class="fa fa-star"></i>
    <span>Đánh giá sản phẩm</span>
  </a>
</li>





  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>
</ul>
