.container {
  max-width: 1320px;
  padding: 0;
}
a {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
  transition: 0.1s ease-in-out;
}
a:hover {
  text-decoration: none;
  color: #000;
}

.layout-page-products-list .layout-main {
  padding-top: 30px;
  display: grid;
  grid-template-columns: 220px auto;
}
.layout-main.mb-5 {
  background-color: rgba(243, 243, 243, 1) !important;
}

.layout-page-products-list .layout-title {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 16px;
  line-height: 1.2;
  padding: 0 15px;
  margin-bottom: 20px;
}

.layout-page-products-list .layout-title h1 {
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 0;
}

.layout-page-products-list .layout-card {
  background: #e5e4e4;
}

.layout-page-products-list .layout-card .card-group {
  border-bottom: 1px solid #d4d4d4;
  padding: 10px 10px;
  display: grid;
  grid-template-columns: 100px auto;
  grid-gap: 10px;
}

.layout-page-products-list .layout-card .card-group .card-title {
  font-weight: 700;
  font-size: 16px;
  padding-top: 12px;
}

.layout-page-products-list .layout-card .card-group .card-items {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.layout-page-products-list .layout-card .card-group .card-item.active {
  background: #c73030;
  border-color: #c73030;
  color: #fff;
}
.layout-page-products-list .layout-card .card-group .card-item {
  font-weight: 400;
  padding: 10px;
  background: #fff;
  color: #707070;
  border-radius: 5px;
  border: 1px solid #bebebe;
  font-size: 14px;
  position: relative;
}

.layout-page-products-list .layout-card .card-group .card-item:hover {
  color: #fff;
  background-color: #c73030;
}

.layout-page-products-list .layout-card .card-group:last-child {
  border-bottom: none;
}

.layout-page-products-list .layout-list-items {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0 10px;
  padding: 0 5px;
}

.product-template {
  padding: 8px 10px;
  margin-bottom: 3px;
  border: 1px solid transparent;
  position: relative;
  display: block;
  background: #fff;
  transition: transform 0.1s ease-in-out, border-color 0.1s ease-in-out;
}

.product-template:hover {
  border-color: #c73030;
  transform: scale(1.02);
}

.position-absolute {
  position: absolute !important;
}

.product-template .product-thumbnail img {
  width: 100%;
  height: 220px;
  -o-object-fit: contain;
  object-fit: contain;
  transition: 0.1s ease-in-out;
}

.product-template .product-price {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 700;
  font-size: 14px;
}

.product-template .product-price .public-price {
  color: #c73030;
}

.product-template .product-brand {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 12px;
}

.product-template .product-title {
  font-size: 14px;
  text-align: left;
  height: 38px;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
}

.fas,
.fa-solid {
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
}

.layout-filter .filter-list {
  border-right: 1px solid #ddd;
}

.layout-filter .filter-group {
  padding: 0 15px;
  margin-bottom: 20px;
}

.layout-filter .filter-group .filter-group-title {
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.layout-filter .filter-group .filter-group-items {
  max-height: 170px;
  overflow-y: auto;
}

.layout-filter .filter-group .filter-group-items::-webkit-scrollbar {
  width: 4px;
}

.layout-filter .filter-group .filter-group-items::-webkit-scrollbar-thumb {
  background-color: #c73030;
  border-radius: 10px;
}

.layout-filter .filter-group .filter-group-items::-webkit-scrollbar-track {
  background: transparent;
}

.layout-filter .filter-group .filter-item {
  color: #272727;
  font-size: 13px;
  margin-bottom: 8px;
  display: block;
}
.layout-filter .filter-group .filter-item:hover {
  color: #d24b30;
}

.pagination {
  gap: 8px;
}

.pagination .page-link {
  width: 30px;
  height: 30px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100% !important;
  font-size: 0.83rem;
  font-weight: 700;
  line-height: normal;
  border: 1px solid #d3d3d3;
  color: #000;
}

.pagination .page-link.active {
  background: #000;
  color: #fff;
}
