<app-header></app-header>
<div class="container">
  <div class="layout-page-products-list mb-5">
    <form action="">
      <div class="layout-main mb-5">
        <div class="layout-filter">
          <div class="layout-title text-uppercase fw-bold">
            <i class="fa-solid fa-filter"></i>
            <span>Bộ lọc tìm kiếm</span>
          </div>
          <div class="filter-list">
            <div class="filter-group">
              <div class="filter-group-title">Danh mục</div>
              <div class="filter-group-items">
                <a href="#" class="filter-item">Chăm sóc cơ thể</a>
                <a href="#" class="filter-item filter-item-child">Kem tay</a>
                <a href="#" class="filter-item filter-item-child">Dưỡng thể</a>
                <a href="#" class="filter-item filter-item-child">Làm sạch</a>
                <a href="#" class="filter-item filter-item-child"
                  >Lăn xịt khử mùi</a
                >
                <a href="#" class="filter-item filter-item-child"
                  >Lăn xịt khử mùi</a
                >
                <a href="#" class="filter-item filter-item-child"
                  >Lăn xịt khử mùi</a
                >
                <a href="#" class="filter-item filter-item-child"
                  >Lăn xịt khử mùi</a
                >
              </div>
            </div>
          </div>
        </div>
        <div class="layout-list">
          <div class="layout-title text-uppercase fw-bold">
            <h1>Chăm sóc cơ thể</h1>
          </div>
          <div class="layout-card">
            <div class="card-group">
              <div class="card-title">Lọc theo</div>
              <div class="card-items">
                <span class="card-item card-filter active"
                  >Danh mục: Chăm sóc cơ thể</span
                >
              </div>
            </div>
            <div class="card-group">
              <div class="card-title">Sắp xếp theo</div>
              <div class="card-items">
                <span
                  class="card-item card-sort"
                  data-name="sort"
                  data-value="1"
                >
                  <input type="hidden" name="sort" value />
                  Nổi bật
                </span>
                <span
                  class="card-item card-sort"
                  data-name="sort"
                  data-value="2"
                >
                  <input type="hidden" name="sort" value />
                  Bán chạy
                </span>
                <span
                  class="card-item card-sort"
                  data-name="sort"
                  data-value="3"
                >
                  <input type="hidden" name="sort" value />
                  Hàng mới
                </span>
                <span
                  class="card-item card-sort"
                  data-name="sort"
                  data-value="4"
                >
                  <input type="hidden" name="sort" value />
                  Giá cao tới thấp
                </span>
                <span
                  class="card-item card-sort"
                  data-name="sort"
                  data-value="5"
                >
                  <input type="hidden" name="sort" value />
                  Giá thấp tới cao
                </span>
              </div>
            </div>
          </div>
          <div class="layout-list-items mb-4">
            <a href="#" class="product-template">
              <img
                src="https://cocolux.com/images/ic-tam-het-hang.png"
                alt="Tạm hết hàng"
                class="img-fluid lazy position-absolute"
              />
              <div class="product-thumbnail">
                <img
                  src="https://cocolux.com/storage/upload_image/images/Kem-duong-da-tay-nuxe-very-rose-duong-mong.jpg"
                  alt="Product"
                  class="img-fluid"
                />
              </div>
              <div class="product-price">
                <div class="public-price">99.000đ</div>
              </div>
              <div class="product-brand">FELINA</div>
              <div class="product-title">
                Tẩy Tế Bào Chết Besilki Muối Tre Và Chiết Xuất Bơ
              </div>
            </a>
            <a href="#" class="product-template">
              <img
                src="https://cocolux.com/images/ic-tam-het-hang.png"
                alt="Tạm hết hàng"
                class="img-fluid lazy position-absolute"
              />
              <div class="product-thumbnail">
                <img
                  src="https://cocolux.com/storage/upload_image/images/Kem-duong-da-tay-nuxe-very-rose-duong-mong.jpg"
                  alt="Product"
                  class="img-fluid"
                />
              </div>
              <div class="product-price">
                <div class="public-price">99.000đ</div>
              </div>
              <div class="product-brand">FELINA</div>
              <div class="product-title">
                Tẩy Tế Bào Chết Besilki Muối Tre Và Chiết Xuất Bơ
              </div>
            </a>
            <a href="#" class="product-template">
              <img
                src="https://cocolux.com/images/ic-tam-het-hang.png"
                alt="Tạm hết hàng"
                class="img-fluid lazy position-absolute"
              />
              <div class="product-thumbnail">
                <img
                  src="https://cocolux.com/storage/upload_image/images/Kem-duong-da-tay-nuxe-very-rose-duong-mong.jpg"
                  alt="Product"
                  class="img-fluid"
                />
              </div>
              <div class="product-price">
                <div class="public-price">99.000đ</div>
              </div>
              <div class="product-brand">FELINA</div>
              <div class="product-title">
                Tẩy Tế Bào Chết Besilki Muối Tre Và Chiết Xuất Bơ
              </div>
            </a>
            <a href="#" class="product-template">
              <img
                src="https://cocolux.com/images/ic-tam-het-hang.png"
                alt="Tạm hết hàng"
                class="img-fluid lazy position-absolute"
              />
              <div class="product-thumbnail">
                <img
                  src="https://cocolux.com/storage/upload_image/images/Kem-duong-da-tay-nuxe-very-rose-duong-mong.jpg"
                  alt="Product"
                  class="img-fluid"
                />
              </div>
              <div class="product-price">
                <div class="public-price">99.000đ</div>
              </div>
              <div class="product-brand">FELINA</div>
              <div class="product-title">
                Tẩy Tế Bào Chết Besilki Muối Tre Và Chiết Xuất Bơ
              </div>
            </a>
            <a href="#" class="product-template">
              <img
                src="https://cocolux.com/images/ic-tam-het-hang.png"
                alt="Tạm hết hàng"
                class="img-fluid lazy position-absolute"
              />
              <div class="product-thumbnail">
                <img
                  src="https://cocolux.com/storage/upload_image/images/Kem-duong-da-tay-nuxe-very-rose-duong-mong.jpg"
                  alt="Product"
                  class="img-fluid"
                />
              </div>
              <div class="product-price">
                <div class="public-price">99.000đ</div>
              </div>
              <div class="product-brand">FELINA</div>
              <div class="product-title">
                Tẩy Tế Bào Chết Besilki Muối Tre Và Chiết Xuất Bơ
              </div>
            </a>
            <a href="#" class="product-template">
              <img
                src="https://cocolux.com/images/ic-tam-het-hang.png"
                alt="Tạm hết hàng"
                class="img-fluid lazy position-absolute"
              />
              <div class="product-thumbnail">
                <img
                  src="https://cocolux.com/storage/upload_image/images/Kem-duong-da-tay-nuxe-very-rose-duong-mong.jpg"
                  alt="Product"
                  class="img-fluid"
                />
              </div>
              <div class="product-price">
                <div class="public-price">99.000đ</div>
              </div>
              <div class="product-brand">FELINA</div>
              <div class="product-title">
                Tẩy Tế Bào Chết Besilki Muối Tre Và Chiết Xuất Bơ
              </div>
            </a>
            <a href="#" class="product-template">
              <img
                src="https://cocolux.com/images/ic-tam-het-hang.png"
                alt="Tạm hết hàng"
                class="img-fluid lazy position-absolute"
              />
              <div class="product-thumbnail">
                <img
                  src="https://cocolux.com/storage/upload_image/images/Kem-duong-da-tay-nuxe-very-rose-duong-mong.jpg"
                  alt="Product"
                  class="img-fluid"
                />
              </div>
              <div class="product-price">
                <div class="public-price">99.000đ</div>
              </div>
              <div class="product-brand">FELINA</div>
              <div class="product-title">
                Tẩy Tế Bào Chết Besilki Muối Tre Và Chiết Xuất Bơ
              </div>
            </a>
            <a href="#" class="product-template">
              <img
                src="https://cocolux.com/images/ic-tam-het-hang.png"
                alt="Tạm hết hàng"
                class="img-fluid lazy position-absolute"
              />
              <div class="product-thumbnail">
                <img
                  src="https://cocolux.com/storage/upload_image/images/Kem-duong-da-tay-nuxe-very-rose-duong-mong.jpg"
                  alt="Product"
                  class="img-fluid"
                />
              </div>
              <div class="product-price">
                <div class="public-price">99.000đ</div>
              </div>
              <div class="product-brand">FELINA</div>
              <div class="product-title">
                Tẩy Tế Bào Chết Besilki Muối Tre Và Chiết Xuất Bơ
              </div>
            </a>
            <a href="#" class="product-template">
              <img
                src="https://cocolux.com/images/ic-tam-het-hang.png"
                alt="Tạm hết hàng"
                class="img-fluid lazy position-absolute"
              />
              <div class="product-thumbnail">
                <img
                  src="https://cocolux.com/storage/upload_image/images/Kem-duong-da-tay-nuxe-very-rose-duong-mong.jpg"
                  alt="Product"
                  class="img-fluid"
                />
              </div>
              <div class="product-price">
                <div class="public-price">99.000đ</div>
              </div>
              <div class="product-brand">FELINA</div>
              <div class="product-title">
                Tẩy Tế Bào Chết Besilki Muối Tre Và Chiết Xuất Bơ
              </div>
            </a>
            <a href="#" class="product-template">
              <img
                src="https://cocolux.com/images/ic-tam-het-hang.png"
                alt="Tạm hết hàng"
                class="img-fluid lazy position-absolute"
              />
              <div class="product-thumbnail">
                <img
                  src="https://cocolux.com/storage/upload_image/images/Kem-duong-da-tay-nuxe-very-rose-duong-mong.jpg"
                  alt="Product"
                  class="img-fluid"
                />
              </div>
              <div class="product-price">
                <div class="public-price">99.000đ</div>
              </div>
              <div class="product-brand">FELINA</div>
              <div class="product-title">
                Tẩy Tế Bào Chết Besilki Muối Tre Và Chiết Xuất Bơ
              </div>
            </a>
          </div>
          <nav class="mb-5" aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
              <li
                class="page-item disabled"
                aria-disabled="true"
                aria-label="« Previous"
              >
                <span class="page-link" aria-hidden="true">‹</span>
              </li>
              <li class="page-item active">
                <a class="page-link active">1</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#">2</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#">3</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#">...</a>
              </li>
              <li class="page-item hidden-xs">
                <a class="page-link" href="#">10</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#" rel="next" aria-label="Next »"
                  >›</a
                >
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </form>
  </div>
</div>
<app-footer></app-footer>
