.top-footer {
  background-color: #d51561;
}

ul {
  list-style: none outside;
  margin: 0;
  padding: 0;
}

.top-footer a {
  text-decoration: none;
  color: #fafbff;
}

.top-footer h4 {
  font-family: "Arial", sans-serif;
  text-transform: uppercase;
  margin: 10px 0 25px 0;
  font-size: 15px;
  color: #fafbff;
  font-weight: 700;
}

.top-footer ul li a {
  font-size: 13px;
  line-height: 35px;
}

.top-footer ul li a:hover {
  color: #000000;
}

.ct_footer li {
  display: flex;
  margin-bottom: 15px;
  color: #fafbff;
}

.ct_footer .icon-left {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.ct_footer .content_r {
  font-size: 13px;
}

.bottom-footer {
  border-top: 1px solid rgba(255, 255, 255, 0.08);
  padding: 15px 0;
  background-color: #ee2d7a;
  text-align: center;
}

.bottom-footer p {
  color: #ffffff;
  font-size: 13px;
  margin: 0;
}

.bottom-footer a {
  color: #ffffff;
  text-decoration: none;
  opacity: 0.8;
}

.footer .link-icon {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.link-icon i {
  line-height: 25px;
  font-size: 20px;
}

.link-icon i,
.link-icon img {
  display: flex;
}

.footer {
  display: flex;
  flex-direction: column;
}

.footer p.title {
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  margin-top: 5px;
  margin-bottom: 5px;
}

.footer form {
  margin-top: 20px;
  display: flex;
  align-items: center;
  width: 400px;
  background: #fff;
  border: 1px solid #fff;
  height: 34px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
  border-radius: 35px;
  overflow: hidden;
}

.footer p {
  font-size: 13px;
  color: #fff;
  display: inline-block;
  margin: 0 10px 0 0;
  white-space: nowrap;
}

.footer form button {
  background-color: #000;
  color: #fff;
  border: none;
  height: 100%;
  padding: 0 20px;
  font-size: 12px;
  border-radius: 0 35px 35px 0;
  cursor: pointer;
}

.footer form input[type="text"] {
  flex: 1;
  padding: 0 10px;
  border: none;
  outline: none;
  height: 100%;
  border-radius: 35px 0 0 35px;
}
