<div class="footer">
  <div class="top-footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 footer-click">
          <h4>Về chúng tôi</h4>
          <ul class="ct_footer">
            <li>
              <span class="icon-left">
                <i class="bi bi-geo-alt-fill"></i>
              </span>
              <span class="content_r">Ngõ Hòa Bình 7, Minh Khai, Hà Nội</span>
            </li>
            <li>
              <span class="icon-left">
                <i class="bi bi-telephone-fill"></i>
              </span>
              <span class="content_r"
                >Điện thoại: <a href="#">0123456789</a></span
              >
            </li>
            <li>
              <span class="icon-left">
                <i class="bi bi-envelope-fill"></i>
              </span>
              <span class="content_r"
                >Email: <a href="#">radiantshop&#64;gmail.com</a></span
              >
            </li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12 footer-click">
          <h4>Chính sách</h4>
          <ul class="toggle-mn">
            <li>
              <a href="#">Chính sách đổi trả</a>
            </li>
            <li>
              <a href="#">Chính sách bảo mật</a>
            </li>
            <li>
              <a href="#">Quy định và hình thức thanh toán</a>
            </li>
            <li>
              <a href="#">Chính sách vận chuyển</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 footer-click">
          <h4>Kết nối</h4>
          <div class="link-icon">
            <a href="#">
              <i class="fa-brands fa-square-facebook"></i>
            </a>
            <a href="#">
              <i class="fa-brands fa-square-instagram"></i>
            </a>
            <a href="#">
              <i class="fa-brands fa-youtube"></i>
            </a>
            <a href="#">
              <i class="fa-brands fa-tiktok"></i>
            </a>
            <a href="#">
              <img src="assets/icon/zalo.png" width="25" height="25" />
            </a>
          </div>
          <p class="title">PHƯƠNG THỨC THANH TOÁN</p>
          <div class="link-icon">
            <img
              src="assets/icon/ic-cash.svg"
              width="25"
              height="40"
              class="img-fluid"
            />
            <img
              src="assets/icon/ic-mastercard.svg"
              width="25"
              height="25"
              class="img-fluid"
            />
            <img
              src="assets/icon/ic-visa.svg"
              width="30"
              height="25"
              class="img-fluid"
            />
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 footer-click">
          <h4>Đăng ký nhận bản tin</h4>
          <p>Đừng bỏ lỡ hàng ngàn sản phẩm với chương trình siêu hấp dẫn!!!</p>
          <form action="">
            <input
              type="text"
              placeholder="Vui lòng nhập email của bạn"
              name="footer_register"
              class="form-control"
            />
            <button type="submit" class="btn btn-dark">ĐĂNG KÝ</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom-footer">
    <div class="container">
      <p>
        Copyright © 2024
        <a href="#">Radiant Shop</a>.&nbsp;<a href="#">Powered by Haravan</a>
      </p>
    </div>
  </div>
</div>
