<app-header />
<div class="container mt-5 mb-5">
  <div class="page-title mb-2 fw-bold">Giỏ hàng (1 sản phẩm)</div>
  <div class="card">
    <div class="card-body">
      <table class="page-table table table-hover mb-4">
        <thead>
          <tr class="bg-light">
            <th>Sản phẩm</th>
            <th>Giá sản phẩm</th>
            <th>Số lượng</th>
            <th>Thành tiền</th>
            <th>Thao tác</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div class="d-flex align-items-center">
                <img
                  src="assets/products/gel-rua-mat.jpg"
                  class="img-fluid me-3"
                  alt="product"
                />
                <span
                  >Gel Rửa Mặt Eucerin Pro ACNE Solution Cho Da Nhờn Mụn
                  200ml</span
                >
              </div>
            </td>
            <td>100.000đ</td>
            <td>
              <input type="number" class="form-control" value="1" min="1" />
            </td>
            <td>100.000đ</td>
            <td><a href="#" class="text-danger">Xóa</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="page-confirm d-flex justify-content-end mt-3">
    <div class="item-confirm fw-bold text-end pe-4">
      <h6 class="m-0">Tổng tiền</h6>
      <h5 class="text-danger m-0 total-amount">100.000đ</h5>
    </div>
    <div class="item-confirm">
      <a href="#">Đặt hàng</a>
    </div>
  </div>
</div>
<app-footer />
