<h2 mat-dialog-title>{{dialogTitle}}</h2>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-dialog-content>
    <div class="form-grid">
      <mat-form-field appearance="fill">
        <mat-label>Mã voucher</mat-label>
        <input matInput formControlName="code" required >
        <mat-hint>Chỉ chấp nhận chữ, số, gạch ngang và gạch dưới (4-20 ký tự)</mat-hint>
        @if (form.get('code')?.hasError('required') ) {
          <mat-error >
          Mã voucher là bắt buộc
        </mat-error>
        }
        @if (form.get('code')?.hasError('pattern') ) {   <mat-error >
          Mã voucher không hợp lệ
        </mat-error>}
     
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Loại giảm giá</mat-label>
        <mat-select formControlName="type" required (selectionChange)="onSelectionChange($event)">
          @for (type of voucherTypes; track $index) {
                <mat-option [value]="type.value">
            {{type.label}}
          </mat-option>
          }
      
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Giá trị giảm</mat-label>
        <input matInput type="number" formControlName="value" required>
        <span matSuffix>{{form.get('type')?.value === 'PERCENTAGE' ? '%' : 'đ'}}</span>
        @if ( form.get('value')?.hasError('required')) {
           <mat-error >
          Giá trị giảm là bắt buộc
        </mat-error>
        }
        <mat-error *ngIf="form.get('value')?.errors?.['exceedsMinOrder']">
          Giá trị giảm không được lớn hơn điều kiện giảm
        </mat-error>
       @if ( form.get('value')?.hasError('min')) {
         <mat-error >
          Giá trị giảm phải lớn hơn 0
        </mat-error>
       }
       @if (form.get('value')?.hasError('max') ) {
        <mat-error >
          Phần trăm giảm giá không được vượt quá 100%
        </mat-error>
       }
        
      </mat-form-field>
      @if (curentType == 'PERCENTAGE') {
           <mat-form-field appearance="fill">
        <mat-label>Giảm tối đa</mat-label>
        <input matInput type="number" formControlName="maxDiscountAmount" required >
        <span matSuffix>đ</span>
        @if ( form.get('maxDiscountAmount')?.hasError('required')) {
         <mat-error >
          Giá trị giảm tối đa là bắt buộc
        </mat-error>
        }
       @if ( form.get('maxDiscountAmount')?.hasError('min')) {
     <mat-error >
          Giá trị giảm tối đa phải lớn hơn 0
        </mat-error>
       }
   
      </mat-form-field>
      }
   

      <mat-form-field appearance="fill">
        <mat-label>Giá trị đơn hàng tối thiểu</mat-label>
        <input matInput type="number" formControlName="minOrderAmount" required>
        <span matSuffix>đ</span>
        @if ( form.get('minOrderAmount')?.hasError('required')) {
        <mat-error >
          Giá trị đơn hàng tối thiểu là bắt buộc
        </mat-error>
        }
      @if(form.get('minOrderAmount')?.hasError('min') ){
          <mat-error >
          Giá trị đơn hàng tối thiểu không được âm
        </mat-error>
       }
      
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Ngày bắt đầu</mat-label>
        <input matInput [matDatepicker]="startPicker" min="{{currentDate | date:'yyyy-MM-dd'}}" formControlName="startDate"  (dateChange)="onSelectionStartDate($event)"  required>
        <a class="btn btn-primary"  (click)="startPicker.open()">Chọn ngày</a>
        <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
        <mat-datepicker #startPicker></mat-datepicker>

        @if (form.get('startDate')?.hasError('required') ) {
          <mat-error >
          Ngày bắt đầu là bắt buộc
        </mat-error>
        }
        
      </mat-form-field>

      @if (selectedStartDate) {
         <mat-form-field appearance="fill">
        <mat-label>Ngày kết thúc</mat-label>
        <input matInput [matDatepicker]="endPicker" formControlName="endDate" min="{{selectedStartDate | date:'yyyy-MM-dd'}}" required>
        <a class="btn btn-primary" mat-raised-button (click)="endPicker.open()">Chọn ngày</a>
        <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
        <mat-datepicker #endPicker></mat-datepicker>
        @if ( form.get('endDate')?.hasError('required')) {
          <mat-error >
          Ngày kết thúc là bắt buộc
        </mat-error>
        }
        @if (form.hasError('dateRange') ) {
  <mat-error>
          Ngày kết thúc phải sau ngày bắt đầu
        </mat-error>
        }
      </mat-form-field>
    }
     

      <mat-form-field appearance="fill">
        <mat-label>Số lượng sử dụng tối đa</mat-label>
        <input matInput type="number" formControlName="usageLimit" required>
        @if (form.get('usageLimit')?.hasError('required') ) {
            <mat-error>
          Số lượng sử dụng tối đa là bắt buộc
        </mat-error>
        }
      
        @if ( form.get('usageLimit')?.hasError('min')) {
           <mat-error >
          Số lượng sử dụng tối đa phải lớn hơn 0
        </mat-error>
        }
       
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Mô tả</mat-label>
        <textarea matInput formControlName="description" rows="3"></textarea>
      </mat-form-field>

      <div class="toggle-container">
        <mat-slide-toggle formControlName="active">
          Kích hoạt
        </mat-slide-toggle>
      </div>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button type="button" (click)="onCancel()">Hủy</button>
    <button mat-raised-button color="primary" type="submit" [disabled]="form.valid">
      {{data.voucher ? 'Cập nhật' : 'Thêm mới'}}
    </button>
  </mat-dialog-actions>
</form>