.row-space {
  margin-bottom: 20px;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100px;
}

mat-form-field {
  width: 100%;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] {
  -moz-appearance: textfield;
}

.product-detail-section {
  background-color: #f8f9fc;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 15px;
}

.preview-image {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
}
