.row {
  margin-left: -15px;
  margin-right: -15px;
}

.topbar {
  padding: 8px 0 3px 0;
  border-bottom: 1px solid #eee;
  margin-bottom: -5px;
}

ul {
  list-style: none outside;
}

a {
  color: #575454;
  font-weight: bolder;
  text-decoration: none;
}

.bi {
  margin-left: 5px;
  padding-right: 5px;
}

.col-lg-6 {
  width: 50%;
}

.account {
  float: right;
}

.account li a {
  display: block;
  padding: 0 5px;
}

.account li {
  display: inline-block;
}

.account a:hover {
  color: #ed145b;
  transition: color 0.3s ease;
}

.input-group {
  width: 100%;
}

.input-group .form-control {
  border-radius: 0;
}

.input-group-append .btn {
  border-radius: 0;
}

.search-form {
  position: relative;
  width: 100%;
}

.search-form .form-control {
  width: 100%;
  padding-right: 45px;
  border-radius: 25px;
  background-color: #fef0ef;
}

.search-form .search-icon {
  position: absolute;
  background-color: #ed145b;
  border-radius: 25px;
  height: 33px;
  line-height: 35px;
  right: 10px;
  display: flex;
  align-items: center;
  top: 0;
  bottom: 0;
  margin: auto;
}

.search-form .search-icon i {
  font-size: 1.2rem;
  color: #fff;
  font-weight: bold;
}

.search-form .search-icon:hover {
  background-color: #000000;
  transition: color 0.3s ease;
}

.header-hotline {
  display: flex;
  float: right;
  align-items: center;
}

.header-hotline i {
  font-size: 2em;
  margin-right: 10px;
}

.hotline {
  display: flex;
  flex-direction: column;
}

.hotline p {
  margin: 0;
  font-weight: bold;
  color: red;
}

.hotline a:hover {
  color: #ed145b;
  transition: color 0.3s ease;
}
.mini-cart {
  display: flex;
  flex-direction: column; /* Đặt hướng thành cột */
  align-items: center; /* Căn giữa các phần tử */
  margin-left: 50px;
  z-index: 2000;
}
.cart-info {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 5px;
}

.mini-cart i {
  font-size: 2em;
  color: #ed145b;
}

.cart-count {
  font-size: 15px;
  color: #d51561;
  position: absolute;
  top: 25px;
  background-color: #ed145b;
  color: white;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.col-lg-3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-bottom {
  background: #ed145b;
  color: #fff;
  z-index: 10;
  position: relative;
}

.header-bottom .container {
  height: 40px;
  display: flex;
  align-items: center;
}

.header-menu .menu-item {
  position: relative;
  margin-right: 50px;
}

.header-menu .menu-item:last-child {
  margin-right: 0;
}

.header-bottom .menu-item a {
  color: #fff;
  text-transform: uppercase;
}
.menu-item menu-site {
  display: block;
  unicode-bidi: isolate;
}

.menu-content .menu-item a {
  font-size: 15px;
  display: flex;
  padding: 10px 15px;
}
.menu-content .menu-item a:hover {
  background: #ed145b;
}

.header-bottom a {
  color: #fff;
  text-decoration: none;
}

.header-bottom a:hover {
  transition: color 0.3s ease;
}

.menu-content {
  display: none;
  position: absolute;
  background-color: #fed0d0;
  color: #fff;
  width: 220px;
  margin-top: 8px;
  border: 1px solid #d4d4d4;
  left: -10px;
}

.header-menu .menu-site:hover .menu-content {
  display: block;
}

.menu-item a {
  color: #fff;
  text-decoration: none;
}

.menu-item a:hover {
  background: #ed145b;
  transition: color 0.3s ease;
}
.menu-search-order {
  margin-left: auto;
}

.header-menu .menu-site .menu-btn {
  width: 220px;
  border-bottom: 1px solid #d4d4d4;
  justify-content: space-between;
  font-size: 14px;
  text-transform: none;
  height: 36.4px;
}

.menu-content {
  position: absolute;
  background-color: #fed0d0;
  color: #000;
  width: 220px;
  margin-top: 8px;
  border: 1px solid #d4d4d4;
  left: -10px;
  z-index: 1000;
}

.menu-search-order:hover .menu-content {
  display: block;
}

.menu-search-order .menu-content form button {
  background-color: #c73030;
  color: white;
  border-radius: 5px;
  padding: 5px 5px;
  border: none;
  text-align: center;
  margin-bottom: 5px;
  width: 210px;
}

.menu-search-order .menu-content form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-search-order .menu-content form input {
  width: 210px;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  border: 1px solid #d4d4d4;
}

.middle-header {
  position: relative;
  z-index: 1000;
  transition: top 0.3s ease-in-out;
}

.middle-header {
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}
.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.sticky-placeholder {
  display: none;
  height: 0;
  width: 100%;
}

.sticky-active .sticky-placeholder {
  display: block;
  height: 90px;
}
