<div class="header">
  <!-- Top bar -->
  <div class="topbar clearfix">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 d-none d-sm-block welcome">
          Chào mừng bạn đến với Radiant Shop!
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 topbar-login">
          <ul class="account">
            <li>
              <a href="#" title="login">
                <i class="bi bi-person-plus"></i>Đăng nhập
              </a>
            </li>
            <li>
              <a href="#" title="sign-up">
                <i class="bi bi-box-arrow-in-right"></i>Đăng ký
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- Middle header -->
  <div class="container">
    <div class="row">
      <div class="sticky-placeholder"></div>
      <div class="middle-header clearfix" [ngClass]="{ sticky: isSticky }">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 logo">
          <a href="/" title="logo">
            <img src="assets/logo/logo.png" alt="Radiant Shop" />
          </a>
        </div>

        <div class="col-lg-5 col-md-5 d-none d-md-block search-box">
          <div class="header_search">
            <form class="d-flex search-form" role="search">
              <input
                class="form-control me-2"
                type="search"
                placeholder="Tìm kiếm..."
                aria-label="Search"
              />
              <button class="btn search-icon" type="submit">
                <i class="bi bi-search"></i>
              </button>
            </form>
          </div>
        </div>

        <div class="col-lg-3 col-md-3 d-none d-md-block">
          <div class="header-hotline f-right clearfix">
            <i class="bi bi-telephone"></i>
            <div class="hotline">
              <p>Đặt hàng nhanh!</p>
              <a href="#" title="Số hotline">0123456789</a>
            </div>
          </div>
          <div class="mini-cart">
            <a href="#">
              <i class="bi bi-cart"></i>
            </a>
            <div class="cart-info">
              <span class="cart-count">0</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- header-bottom -->
  <div class="header-bottom">
    <div class="container header-bottom-menu header-menu">
      <div class="menu-item menu-site active">
        <a href="#">
          <i class="fas fa-bars"></i>
          Danh mục sản phẩm
        </a>
        <div class="menu-content">
          <div class="menu-item">
            <a href="#" class="menu-btn">
              Trang điểm
              <i class="fa-solid fa-angle-right"></i>
            </a>
          </div>
          <div class="menu-item">
            <a href="#" class="menu-btn">
              Son môi
              <i class="fa-solid fa-angle-right"></i>
            </a>
          </div>
          <div class="menu-item">
            <a href="#" class="menu-btn">
              Chăm sóc da
              <i class="fa-solid fa-angle-right"></i>
            </a>
          </div>
          <div class="menu-item">
            <a href="#" class="menu-btn">
              Nước hoa
              <i class="fa-solid fa-angle-right"></i>
            </a>
          </div>
          <div class="menu-item">
            <a href="#" class="menu-btn">
              Sản phẩm khác
              <i class="fa-solid fa-angle-right"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="menu-item">
        <a href="#"> Khuyến mại </a>
      </div>
      <div class="menu-item">
        <a href="#"> Thương hiệu </a>
      </div>
      <div class="menu-item">
        <a href="#"> Giới thiệu </a>
      </div>
      <div class="menu-item">
        <a href="#"> Xu hướng làm đẹp </a>
      </div>

      <div
        class="menu-item menu-search-order"
        (mouseenter)="showForm()"
        (mouseleave)="hideForm()"
      >
        <a href="#">Tra cứu đơn hàng</a>
        <div class="menu-content" *ngIf="showOrderForm">
          <form action="" name="search-order">
            <input type="hidden" name="" />
            <input
              type="text"
              class="form-control"
              placeholder="Nhập email/mã đơn hàng"
              name="order"
              [(ngModel)]="orderId"
            />
            <button class="btn" type="submit">Kiểm tra đơn hàng</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
