<div class="footer">
  <div class="top-footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 footer-click">
          <h4>About Us</h4>
          <ul class="ct_footer">
            <li>
              <span class="icon-left">
                <i class="bi bi-geo-alt-fill"></i>
              </span>
              <span class="content_r">Ngõ Hòa Bình 7, Minh Khai, Hà Nội</span>
            </li>
            <li>
              <span class="icon-left">
                <i class="bi bi-telephone-fill"></i>
              </span>
              <span class="content_r"
                >Điện thoại: <a href="#">0123456789</a></span
              >
            </li>
            <li>
              <span class="icon-left">
                <i class="bi bi-envelope-fill"></i>
              </span>
              <span class="content_r"
                >Email: <a href="#">radiantshop&#64;gmail.com</a></span
              >
            </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 footer-click">
          <h4>Hỗ trợ khách hàng</h4>
          <ul class="toggle-mn">
            <li>
              <a href="#">Sản phẩm nổi bật</a>
            </li>
            <li>
              <a href="#">Tất cả sản phẩm</a>
            </li>
            <li>
              <a href="#">Phương thức vận chuyển</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 footer-click">
          <h4>Liên kết</h4>
          <ul class="toggle-mn">
            <li>
              <a href="#">Trang chủ</a>
            </li>
            <li>
              <a href="#">Giới thiệu</a>
            </li>
            <li>
              <a href="#">Sản phẩm</a>
            </li>
            <li>
              <a href="#">Liên hệ</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12 footer-click">
          <h4>Chính sách</h4>
          <ul class="toggle-mn">
            <li>
              <a href="#">Chính sách đổi trả</a>
            </li>
            <li>
              <a href="#">Chính sách bảo mật</a>
            </li>
            <li>
              <a href="#">Quy định và hình thức thanh toán</a>
            </li>
            <li>
              <a href="#">Chính sách vận chuyển</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom-footer">
    <div class="container">
      <p>
        Copyright © 2024
        <a href="#">Radiant Shop</a>.&nbsp;<a href="#">Powered by Haravan</a>
      </p>
    </div>
  </div>
</div>
